/* * {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
} */
.container {
  display: flex;
}
.whitebox {
  background-color: hsl(0, 0%, 100%);
  width: 250px;
  height: 350px;
  border-radius: 0px 10px 10px 0px;
}
img {
  height: 350px;
  border-radius: 10px 0px 0px 10px;
}
.fraunces {
  font-family: "Fraunces", serif;
  font-weight: 700;
  letter-spacing: -1px;
  padding: 10px;
}
#gabi {
  padding: 10px 10px 10px 25px;
}
.type2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  /* padding: 10px 65px 10px 10px; */
}
#perfume {
  letter-spacing: 3px;
}
p {
  font-size: 14px;
  font-weight: 200;
}

button {
  width: 160px;
  height: 40px;
  background-color: hsl(158, 36%, 37%);
  border: none;
  border-radius: 5px;
  color: white;
  /* padding: 10px 10px; */
}
