body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh;
}
.whitebox {
  display: flex;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  max-width: 450px;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-container {
  flex: 1;
  background-color: black;
}
.text-container {
  flex: 1;
}
.fraunces {
  font-family: "Fraunces", serif;
  font-weight: 700;
  letter-spacing: -1px;
  margin-left: 50px;
}
#gabrielle {
  margin: 15px;
}
.type2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  /* padding: 10px 65px 10px 10px; */
}
#perfume {
  letter-spacing: 3px;
  font-weight: 600;
}
p {
  font-size: 14px;
  font-weight: 600;
  margin-left: 25px;
  margin-right: 25px;
  color: hsl(228, 12%, 48%);
}

button {
  width: 160px;
  height: 40px;
  background-color: hsl(158, 36%, 37%);
  border: none;
  border-radius: 5px;
  color: white;
  margin-left: 34px;
  margin-bottom: 10px;
}
button:hover {
  background-color: hsl(158, 37%, 20%);
}
#pricecolor {
  color: hsl(158, 36%, 37%);
}
